.navbar {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    margin-bottom: 2rem;
    z-index: 100;

    position: sticky;
    top: 0;
    background: var(--bg);

    border: var(--border-card)
}

.navbar>* {
    margin-top: 0;
    margin-bottom: 0;
}
