.bio-card-content {
    padding: 0.5rem;
}

.bio-card-content h4 {
    margin-bottom: 2rem;
}

.content-section:last-child {
    margin-bottom: 0;
}

.content-section h5 {
    margin-bottom: 0.5rem;
}

.content-section p {
    margin-top: 0;
    line-height: 1.5;
}
