.button {
    background: var(--bg-light);
    padding: 0.5rem 1rem 0.7rem 1rem;
    font-weight: 700;
    color: var(--text);
    border: var(--border-card);
    border-top: solid 1px var(--highlight);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    box-shadow: var(--shadow);
    transition: color 0.2s, box-shadow 0.2s, transform 0.1s;
}

.button:hover,
.button:focus-visible {
    background: var(--highlight);
    color: var(--text-muted);
    box-shadow: 0 4px 16px var(--shadow);
    transform: translateY(-2px) scale(1.03);
    outline: none;
    cursor: pointer;
}

.button:active {
    transform: translateY(0.1px) scale(0.99);
}
